/*Menu */
.navbar {
  overflow: hidden;
  background-color: var(--cor-secundaria);
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar a {
  float: left;
  color: var(--cor-branco);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: var(--cor-branco);
  color: var(--cor-secundaria);
}

/* Carrossel */
.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 0px 0px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--cor-cinza-claro);
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s ease;
}

.active {
  background-color: var(--cor-principal);
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: 0.4;}
  to {opacity: 1;}
}

@media (max-width: 800px) {
  .dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: var(--cor-principal);
    border-radius: 50%;
    display: inline-block;
    transition: 0.3s ease; 
  }
}

@media (max-width: 400px) {
  .navbar a {
    font-size: 12px;
    padding: 10px 12px;
  } 
  .carrossel {
    display: none;
  }
} 
